.mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  padding: 8px;
  height: 60px;
  font-size: 18px;
  font-weight: normal;
  box-shadow: 1px 1px 10px .1px #e6e6e6 !important;
}

.activeElem {
  box-shadow: 1px 1px 4px .1px #3f51b5 !important;

  &:hover {
    cursor: pointer;
  }

  &:active {
    box-shadow: 1px 1px 2px .1px #3f51b5 !important;
  }
}

input,
mat-select,
textarea,
mat-slider,
mat-radio-button,
mat-slide-toggle,
mat-checkbox,
mat-label,
button {
  &:hover {
    cursor: pointer;
  }
}

mat-form-field {
  width: 100%;
}

mat-form-field {
  padding: 8px;
}

mat-radio-button {
  padding: 5px;
}

button {
  font-size: 18px;
  font-weight: normal;
  background-color: #000;
  color: #fff;
}

mat-label {
  color: #000;
}

/* To change the color of underline: */

::ng-deep .mat-form-field-underline .mat-form-field-ripple {
  color: red !important;
  background-color: black !important;
}

.mat-input-flex.mat-form-field-flex {
  border: 1px solid black !important;
}
 
