.form { 
    margin-top: 30px;
    &-title {
        font-family: 'Russo One', sans-serif !important;
    }
    &-card {
        max-width: 400px;
        padding: 30px !important;
        margin: 0 auto;
        margin-top: 100px;
    }
    &-info {
        text-align: center;
    }
    &-button {
        text-align: center;
        margin-top: 10px;
    }
    &-show {
        position: absolute;
        right: 0px;
        bottom: 15px;
        cursor: pointer;
        color: #a2a7aa;
    }
    &-input-full {
        width: 100%;
    }
    &-login, &-registration {
        font-family: 'Montserrat', sans-serif;
        color: #2196f3;
        margin-bottom: 10px;
    }
}

.text-center {
    text-align: center;
}

.active {
    color: #000;
}