$firstColor:#3f51b5;
$secondColor:#53aeea;
$thirdColor: #c9c9c9;

.hovered {
  outline: 4px solid deeppink;
}

$firstColor:#3f51b5;
$secondColor:#53aeea;
$thirdColor: #c9c9c9;

.sidenav {
  width: 50%;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  background: inherit;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
}



.mat-list, .mat-nav-list, .mat-selection-list {
  padding-top: 0;
}

.mat-toolbar .mat-toolbar-single-row {
  position: sticky;
  top: 0;
  z-index: 1;
 
}
.mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
  color: #fff !important;
  font-size: 20px;
  font-weight: normal;
}

.new-form-button, .save-form-button {
  margin-right: 10px;
}

.flex-grow {
  flex-grow: 1;
  & button {
    width: 100%;
  }
}

.form {

  .example-container {
    margin:10px auto;
    width:70%;
    min-height:50px;
    padding: 5px;

    fieldset{
      margin:0;
      border:1px solid $thirdColor;
      border-radius: 5px;

      legend{
        padding:10px;
        color: #464646;

        h2{
          margin:5px 0;
        }
      }
    }

    .row-container{
      display: flex;
      align-items: center;
      justify-content: center;

      .row{
        display: flex;
        margin:5px;
        width:100%;
        min-height:20px;
        align-items: center;

        .cell-container{
          display: flex;
          width:100%;
          margin-right:5px;
          align-items: center;
          justify-content: center;

          .cell{
            display: flex;
            margin:5px;
            width:100%;
            min-height:20px;

            .element{
              display: flex;
              align-items: center;

              mat-form-field{
                //width:70% !important;
                margin: 0 15px;

                ::ng-deep .mat-form-field-infix{
                  width:100%;
                }
              }

              .mat-slider-horizontal{
                //min-width: 100%;
              }

              .mat-slider{
                width:100%;
              }

              .mat-slide-toggle{
                margin:0 10px;
              }

              .mat-select{
                width:140px;
              }

              .example-radio-group {
                margin:0 10px;
              }

              .example-radio-button {
                margin-left:10px;
              }

              .vertical{
                display: block !important;
                text-align: left;

                .mat-radio-button, .mat-checkbox{
                  margin:10px;
                  display: block;
                }
              }

              .example-section-checkbox {
                display: flex;
                align-content: center;
                align-items: center;
                margin:0 10px;
              }

              .example-margin-checkbox {
                margin-left:10px;
              }

              .example-button-row{
                margin:5px;
              }
            }

            .vertical{
              display: block !important;
              text-align: left;

              .mat-radio-button, .mat-checkbox{
                margin:10px;
                display: block;
              }
            }
          }
        }
      }
    }
  }
}


.finishToolbar 
{
  justify-content: flex-end;
}

select {
  width: 180px !important;
}