$firstColor:#3f51b5;
$secondColor:#53aeea;
$thirdColor: #c9c9c9;

.sidenav {
  width: 50%;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  background: inherit;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.mat-toolbar .mat-toolbar-single-row {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-list, .mat-nav-list, .mat-selection-list {
  padding-top: 0;
}

.mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
  //background-color: black;
  color: #fff !important;
  font-size: 20px;
  font-weight: normal;
  //padding: 3px;
}

.new-form-button, .save-form-button {
  margin-right: 10px;
}

mat-sidenav-container {
  text-align: center;
}

mat-sidenav {
  min-width: 200px;
}

mat-card {
  margin: 16px;
  padding-bottom: 0;
}

mat-card mat-card-title {
  font-size: 20px;
}

mat-card img {
  max-width: 700px;
}

@media only screen and (min-width: 600px) {
  mat-sidenav {
    position: relative;
    max-width: 25%;
  }
  mat-sidenav-content {
    margin-left: 0 !important;
  }
}

.full-height {
  height: calc(100vh - 64px);
}

.flex-grow {
  flex-grow: 1;
  & button {
    width: 100%;
  }
}

.form {
  margin-top:50px;

  .form-info{
    display: flex;
    width:90%;
    margin: 10px auto;
    align-items: center;
    justify-content: center;

    .form-info-inputs{
      width:45%;
      text-align: left;

      .mat-form-field{
        margin-right:10px;
        font-size: 20px;
      }
    }

    .form-info-buttons{
      width:55%;
      text-align: right;
      mat-toolbar{
        justify-content: flex-end;
      }

      button{
        margin-left:10px;
      }
    }

  }

  .example-container {
    margin:10px auto;
    width:90%;
    border:1px solid $thirdColor;
    min-height:50px;
    padding: 5px;
    border-radius: 5px;

    .row-container{
      display: flex;
      align-items: center;
      justify-content: center;

      .row{
        display: flex;
        margin:5px;
        padding:5px;
        width:100%;
        min-height:20px;
        border-radius: 5px;
        border:1px solid $thirdColor;
        align-items: center;

        .cell-container{
          display: flex;
          width:100%;
          margin-right:5px;
          align-items: center;
          justify-content: center;

          .cell{
            display: flex;
            margin:5px;
            padding:5px;
            width:100%;
            min-height:20px;
            border-radius: 5px;
            border:1px solid $thirdColor;

            .element{
              display: flex;
              align-items: center;

              mat-form-field{
                //width:70% !important;
                margin: 0 15px;

                ::ng-deep .mat-form-field-infix{
                  width:100%;
                }
              }

              .mat-slider-horizontal{
                //min-width: 100%;
              }

              .mat-slider{
                width:100%;
              }

              .mat-slide-toggle{
                margin:0 10px;
              }

              .mat-select{
                width:140px;
              }

              .example-radio-group {
                margin:0 10px;
              }

              .example-radio-button {
                margin-left:10px;
              }

              .vertical{
                display: block !important;
                text-align: left;

                .mat-radio-button, .mat-checkbox{
                  margin:10px;
                  display: block;
                }
              }

              .example-section-checkbox {
                display: flex;
                align-content: center;
                align-items: center;
                margin:0 10px;
              }

              .example-margin-checkbox {
                margin-left:10px;
              }

              .example-button-row{
                margin:5px;
              }
            }
          }
        }
      }

      .mat-mini-fab{
        width:30px;
        height:30px;

        mat-icon{
          width:20px;
          height: 30px;
          font-size:20px;
        }
      }
    }

    .mat-mini-fab{
      width:40px;
      height:40px;
      padding:3px;

      mat-icon{
        margin-top:-8px;
        padding:0;
        width:30px;
        height: 30px;
        font-size:30px;
      }
    }
  }
}


/*my mixins*/
@mixin after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@mixin divAbs($top: 0, $left: 0){
  position:absolute;
  bottom:0;
  left:0;
  margin-top:$top;
  margin-left:$left;
}

@mixin bg($url, $r: no-repeat, $s: auto, $a: scroll){
  background: url($url) $r top center $a;
  -webkit-background-size: $s;
  -moz-background-size: $s;
  -o-background-size: $s;
  background-size: $s;
}

@mixin br($font: 3px, $color: $secondColor){
  border: $font solid $color;
}