<mat-sidenav-container class="sidenav-container full-height" fxLayout="row">
    <mat-sidenav fxFlex.sm="1 0 230px"
                 fxFlex.md="1 1 25%"
                 fxFlex.gt-md="1 1 20%"
                 #drawer class="sidenav"
                 fixedInViewport="true"
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="!(isHandset$ | async)">
        <mat-toolbar fxLayout="row"
                     fxLayoutAlign="center center">
            <mat-slide-toggle (click)="showEditPanel()"
                              checked="true"
                              fxHide.xs="true"
                              labelPosition="before">
                <span>Hide edit panel</span>
            </mat-slide-toggle>
        </mat-toolbar>
        <mat-nav-list>
            <app-nav-constructor *ngIf="!configPanel"></app-nav-constructor>
            <app-nav-config *ngIf="configPanel"></app-nav-config>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlex.sm="1 1 70%"
                         fxFlex.md="1 1 75%"
                         fxFlex.gt-md="1 1 80%">

        <div class="form">
            <form class="form-info" [formGroup]="formInfo">
                <div class="form-info-inputs">
                    <mat-form-field class="example-full-width">
                        <mat-label>Form title</mat-label>
                        <input matInput type="text" formControlName="title" required>
                        <mat-error>Min title length: 3</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Group name</mat-label>
                        <mat-select formControlName="groups" multiple required>
                            <mat-option *ngFor="let group of groups" [value]="group">{{group}}</mat-option>
                        </mat-select>
                        <mat-error>Please choose group</mat-error>
                    </mat-form-field>
                </div>

                <div class="form-info-buttons">
                    <button mat-raised-button [disabled]="!formInfo.valid" (click)="saveForm()" color="primary">Save form</button>
                    <button mat-raised-button [disabled]="!form._id" (click)="delForm(form._id)" color="warn">Remove form</button>
                </div>
            </form>

            <form class="example-container">
                <!--container for row-->
                <div class="row-container" *ngFor="let row of form.rows; let rowIndex = index">
                    <!--row-->
                    <div class="row">

                        <button mat-mini-fab color="primary" (click)="addCell(rowIndex)">
                            <mat-icon>add</mat-icon>
                        </button>

                        <!--container for cell-->
                        <div class="cell-container" *ngFor="let cell of row.cells; let cellIndex = index">
                            <!--cell-->
                            <div class="cell">
                                <div class="element flex-grow" *ngFor="let elem of cell.elements; let elemIndex = index">

                                    <!--<div  *ngIf="elem.type==='text'" [innerHtml]="elem | type"></div>-->

                                    <!--if element is input TEXT-->
                                    <mat-form-field *ngIf="elem.type==='text'" class="example-full-width flex-grow"
                                                    (click)="addConfig(elem, rowIndex, cellIndex)">
                                        <mat-label>{{elem.config.label}}</mat-label>
                                        <input matInput type="text"
                                               [value]="elem.config.value"
                                               [placeholder]="elem.config.placeholder"
                                               [disabled]="elem.config.disabled"
                                               [required]="elem.config.required">
                                    </mat-form-field>

                                    <!--if element is input NUMBER-->
                                    <mat-form-field *ngIf="elem.type==='number'" class="example-full-width flex-grow"
                                                    (click)="addConfig(elem, rowIndex, cellIndex)">
                                        <mat-label>{{elem.config.label}}</mat-label>
                                        <input matInput type="number"
                                               [value]="elem.config.value"
                                               [placeholder]="elem.config.placeholder"
                                               [min]="elem.config.min"
                                               [max]="elem.config.max"
                                               [disabled]="elem.config.disabled"
                                               [required]="elem.config.required">
                                    </mat-form-field>

                                    <!--if element is input EMAIL-->
                                    <mat-form-field *ngIf="elem.type==='email'" class="example-full-width flex-grow"
                                                    (click)="addConfig(elem, rowIndex, cellIndex)">
                                        <mat-label>{{elem.config.label}}</mat-label>
                                        <input matInput type="email"
                                               [value]="elem.config.value"
                                               [placeholder]="elem.config.placeholder"
                                               [disabled]="elem.config.disabled"
                                               [required]="elem.config.required">
                                    </mat-form-field>

                                    <!--if element is input PASSWORD-->
                                    <mat-form-field *ngIf="elem.type==='password'" class="example-full-width flex-grow"
                                                    (click)="addConfig(elem, rowIndex, cellIndex)">
                                        <mat-label>{{elem.config.label}}</mat-label>
                                        <input matInput type="password"
                                               [value]="elem.config.value"
                                               [placeholder]="elem.config.placeholder"
                                               [disabled]="elem.config.disabled"
                                               [required]="elem.config.required">
                                    </mat-form-field>

                                    <!--if element is SLIDER-->
                                    <section *ngIf="elem.type==='slider'" class="example-section flex-grow"
                                             (click)="addConfig(elem, rowIndex, cellIndex)">
                                        <mat-label>{{elem.config.label}}</mat-label>
                                        <mat-slider
                                                class="example-margin"
                                                [value]="elem.config.value"
                                                [invert]="elem.config.invert"
                                                [max]="elem.config.max"
                                                [min]="elem.config.min"
                                                [step]="elem.config.step"
                                                [thumbLabel]="elem.config.thumbLabel"
                                                [vertical]="elem.config.vertical"
                                                [disabled]="elem.config.disabled">
                                        </mat-slider>
                                    </section>

                                    <!--if element is TOGGLE-->
                                    <section *ngIf="elem.type==='toggle'" class="example-section"
                                             (click)="addConfig(elem, rowIndex, cellIndex)">

                                        <mat-slide-toggle class="example-margin"
                                                          [color]="elem.config.color"
                                                          [checked]="elem.config.checked"
                                                          [disabled]="elem.config.disabled">
                                            {{elem.config.label}}
                                        </mat-slide-toggle>
                                    </section>

                                    <!--if element is SELECT-->
                                    <mat-form-field *ngIf="elem.type==='select'"
                                                    (click)="addConfig(elem, rowIndex, cellIndex)">
                                        <mat-label>{{elem.config.label}}</mat-label>
                                        <mat-select [disabled]="elem.config.disabled"
                                                    [required]="elem.config.required">
                                            <mat-option *ngFor="let option of elem.config.options" value="{{option}}">
                                                {{option}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <!--if element is input CHECKBOX-->
                                    <section class="example-section example-section-checkbox"
                                             *ngIf="elem.type==='checkbox'"
                                             [ngClass]="elem.config.vertical ? 'vertical' : 'horizontal'"
                                             (click)="addConfig(elem, rowIndex, cellIndex)">
                                        <mat-label>{{elem.config.label}}</mat-label>
                                        <mat-checkbox *ngFor="let option of elem.config.options"
                                                      class="example-margin example-margin-checkbox"
                                                      [value]="option"
                                                      [color]="elem.config.color"
                                                      [disabled]="elem.config.disabled"
                                                      [required]="elem.config.required">{{option}}
                                        </mat-checkbox>
                                    </section>

                                    <!--if element is input RADIO-->
                                    <mat-radio-group class="example-radio-group" *ngIf="elem.type==='radio'"
                                                     [ngClass]="elem.config.vertical ? 'vertical' : 'horizontal'"
                                                     (click)="addConfig(elem, rowIndex, cellIndex)">
                                        <mat-label>{{elem.config.label}}</mat-label>
                                        <mat-radio-button class="example-radio-button"
                                                          *ngFor="let option of elem.config.options"
                                                          [value]="option"
                                                          [color]="elem.config.color"
                                                          [disabled]="elem.config.disabled"
                                                          [required]="elem.config.required">{{option}}
                                        </mat-radio-button>
                                    </mat-radio-group>

                                    <!--if element is TEXTAREA-->
                                    <mat-form-field *ngIf="elem.type==='textarea'" class="example-full-width flex-grow"
                                                    (click)="addConfig(elem, rowIndex, cellIndex)">
                                        <mat-label>{{elem.config.label}}</mat-label>
                                        <textarea matInput
                                                  [value]="elem.config.value"
                                                  [placeholder]="elem.config.placeholder"
                                                  [disabled]="elem.config.disabled"></textarea>
                                    </mat-form-field>

                                    <!--if element is BUTTON-->
                                    <div *ngIf="elem.type==='button'" class="example-button-row flex-grow"
                                         (click)="addConfig(elem, rowIndex, cellIndex)">
                                        <button mat-raised-button
                                                [color]="elem.config.color"
                                                [disabled]="elem.config.disabled">{{elem.config.value}}
                                        </button>
                                    </div>

                                    <button mat-mini-fab color="primary" (click)="delElem(rowIndex, cellIndex)">
                                        <mat-icon>remove</mat-icon>
                                    </button>
                                </div>

                                <button mat-mini-fab color="primary" *ngIf="!cell.elements.length"
                                        (click)="addElem(rowIndex, cellIndex)">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>

                            <button mat-mini-fab color="primary" (click)="delCell(rowIndex, cellIndex)">
                                <mat-icon>remove</mat-icon>
                            </button>
                        </div>

                    </div>

                    <button mat-mini-fab color="primary" (click)="delRow(rowIndex)">
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>

                <button mat-mini-fab color="primary" (click)="addRow()">
                    <mat-icon>add</mat-icon>
                </button>
            </form>

            <!--block for snapshots-->
            <div [hidden]="true" class="form" *ngIf="form">
                <form class="example-container">
                    <!--container for row-->
                    <div class="row-container" *ngFor="let row of form.rows; let rowIndex = index">
                        <!--row-->
                        <div class="row">
                            <!--container for cell-->
                            <div class="cell-container" *ngFor="let cell of row.cells; let cellIndex = index">
                                <!--cell-->
                                <div class="cell">
                                    <div class="element flex-grow" *ngFor="let elem of cell.elements; let elemIndex = index">

                                        <!--if element is input TEXT-->
                                        <mat-form-field *ngIf="elem.type==='text'" class="example-full-width flex-grow">
                                            <mat-label>{{elem.config.label}}</mat-label>
                                            <input matInput type="text"
                                                   [value]="elem.config.value"
                                                   [placeholder]="elem.config.placeholder"
                                                   [disabled]="elem.config.disabled"
                                                   [required]="elem.config.required">
                                        </mat-form-field>

                                        <!--if element is input NUMBER-->
                                        <mat-form-field *ngIf="elem.type==='number'" class="example-full-width flex-grow">
                                            <mat-label>{{elem.config.label}}</mat-label>
                                            <input matInput type="number"
                                                   [value]="elem.config.value"
                                                   [placeholder]="elem.config.placeholder"
                                                   [min]="elem.config.min"
                                                   [max]="elem.config.max"
                                                   [disabled]="elem.config.disabled"
                                                   [required]="elem.config.required">
                                        </mat-form-field>

                                        <!--if element is input EMAIL-->
                                        <mat-form-field *ngIf="elem.type==='email'" class="example-full-width flex-grow">
                                            <mat-label>{{elem.config.label}}</mat-label>
                                            <input matInput type="email"
                                                   [value]="elem.config.value"
                                                   [placeholder]="elem.config.placeholder"
                                                   [disabled]="elem.config.disabled"
                                                   [required]="elem.config.required">
                                        </mat-form-field>

                                        <!--if element is input PASSWORD-->
                                        <mat-form-field *ngIf="elem.type==='password'" class="example-full-width flex-grow">
                                            <mat-label>{{elem.config.label}}</mat-label>
                                            <input matInput type="password"
                                                   [value]="elem.config.value"
                                                   [placeholder]="elem.config.placeholder"
                                                   [disabled]="elem.config.disabled"
                                                   [required]="elem.config.required">
                                        </mat-form-field>

                                        <!--if element is SLIDER-->
                                        <section *ngIf="elem.type==='slider'" class="example-section flex-grow">
                                            <mat-label>{{elem.config.label}}</mat-label>
                                            <mat-slider
                                                    class="example-margin"
                                                    [value]="elem.config.value"
                                                    [invert]="elem.config.invert"
                                                    [max]="elem.config.max"
                                                    [min]="elem.config.min"
                                                    [step]="elem.config.step"
                                                    [thumbLabel]="elem.config.thumbLabel"
                                                    [vertical]="elem.config.vertical"
                                                    [disabled]="elem.config.disabled">
                                            </mat-slider>
                                        </section>

                                        <!--if element is TOGGLE-->
                                        <section *ngIf="elem.type==='toggle'" class="example-section" >

                                            <mat-slide-toggle class="example-margin"
                                                              [color]="elem.config.color"
                                                              [checked]="elem.config.checked"
                                                              [disabled]="elem.config.disabled">
                                                {{elem.config.label}}
                                            </mat-slide-toggle>
                                        </section>

                                        <!--if element is SELECT-->
                                        <mat-form-field *ngIf="elem.type==='select'">
                                            <mat-label>{{elem.config.label}}</mat-label>
                                            <mat-select [disabled]="elem.config.disabled"
                                                        [required]="elem.config.required">
                                                <mat-option *ngFor="let option of elem.config.options" value="{{option}}">
                                                    {{option}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>

                                        <!--if element is input CHECKBOX-->
                                        <section class="example-section example-section-checkbox"
                                                 *ngIf="elem.type==='checkbox'"
                                                 [ngClass]="elem.config.vertical ? 'vertical' : 'horizontal'">
                                            <mat-label>{{elem.config.label}}</mat-label>
                                            <mat-checkbox *ngFor="let option of elem.config.options" class="example-margin example-margin-checkbox"
                                                          [value]="option"
                                                          [color]="elem.config.color"
                                                          [disabled]="elem.config.disabled"
                                                          [required]="elem.config.required">{{option}}</mat-checkbox>
                                        </section>

                                        <!--if element is input RADIO-->
                                        <mat-radio-group class="example-radio-group"
                                                         *ngIf="elem.type==='radio'"
                                                         [ngClass]="elem.config.vertical ? 'vertical' : 'horizontal'">
                                            <mat-label>{{elem.config.label}}</mat-label>
                                            <mat-radio-button class="example-radio-button" *ngFor="let option of elem.config.options"
                                                              [value]="option"
                                                              [color]="elem.config.color"
                                                              [disabled]="elem.config.disabled"
                                                              [required]="elem.config.required">{{option}}</mat-radio-button>
                                        </mat-radio-group>

                                        <!--if element is TEXTAREA-->
                                        <mat-form-field *ngIf="elem.type==='textarea'" class="example-full-width flex-grow">
                                            <mat-label>{{elem.config.label}}</mat-label>
                                            <textarea matInput
                                                      [value]="elem.config.value"
                                                      [placeholder]="elem.config.placeholder"
                                                      [disabled]="elem.config.disabled"></textarea>
                                        </mat-form-field>

                                        <!--if element is BUTTON-->
                                        <div *ngIf="elem.type==='button'" class="example-button-row flex-grow">
                                            <button mat-raised-button
                                                    [color]="elem.config.color"
                                                    [disabled]="elem.config.disabled">{{elem.config.value}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>
