.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}
.example-radio-button {
  margin: 5px;
}
.example-radio-button {
  &:hover{
    opacity: 0,5;
  }
}
.example-selected-value {
  margin: 15px 0;
}
.example-viewport {
  height: 200px;
  width: 60%;
  margin-bottom:20px;
}
.example-dt {
  height: 30px;
  font-weight: bold;
}
.example-dd {
  height: 30px;
}
#scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
#scroll::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
#scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
}
.example-container {
  width: 15%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.1);
}
table {
  width: 70%;
}
.highlight { 
  background: rgba(0,0,0,0.1);
}